<div class="chatContainer">
  <div class="chatHead">
    <input name="burnr" placeholder="burnrId" id="burnrId">
    <input name="name" placeholder="alias" id="name">
    <input name="key" placeholder="encryption key" id="key">
  </div>
  <div class="chatWindow" id="chatWindow">
    <ul class="chatList">
    </ul>
  </div>
  <input class="chatInput" placeholder="<Enter> to send">
  <div class="rules">Rules of burnr:</div>
  <ul class="rules">
    <li>1. Its all unsaved and encrypted</li>
    <li>2. Create or connect to a burnrId</li>
    <li>3. Encryption key optional</li>
    <li>4. When you're done, burn it</li>
  </ul>
</div>
