<div class="chatContainer">
  <div class="chatWindow" id="chatWindow">
    <div class="chatHead">
      <input name="burnr" placeholder="brnr id" id="burnrId">
      <input name="name" placeholder="alias" id="name">
    </div>
    <ul class="chatList">
    </ul>
  </div>
  <input class="chatInput" placeholder="<Enter> to send">
</div>
