<div class="info">
  <h3 class="infoHeader">Welcome to burnr</h3>
</div>
<div class="chatContainer">
  <div class="chatWindow" id="chatWindow">
    <ul class="chatList">
    </ul>
  </div>
  <input class="chatInput" placeholder="chat">
</div>