<div class="chatContainer">
  <div class="chatWindow" id="chatWindow">
    <div class="chatHead">
      <input name="burnr" placeholder="burnrId" id="burnrId">
      <input name="name" placeholder="alias" id="name">
    </div>
    <ul class="chatList">
    </ul>
  </div>
  <input class="chatInput" placeholder="<Enter> to send">
  <div class="rules">Rules of burnr:</div>
  <ul class="rules">
    <li>1. Its all anonymous and unsaved</li>
    <li>2. Create or connect to a burnrId</li>
    <li>3. At the end, burn</li>
  </ul>
</div>
