<div id="params" data-identifier="<%= @params['indentifier'] %>" data-foreign="<%= @params['foreignIndentifier'] %>">
</div>
<div id="chat">
</div>

<script type="text/javascript">
  $(function(){
    window.Chat.initialize($('#chat'));
  })
</script>