/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.chatList{
  list-style: none;
}
.chatContainer{
  border: solid black 1px;
  border-radius: 5px;
  width: 60%;
  height: 50%;
  height: 400px;
  box-sizing: border-box;
}
.chatWindow{
  height: 80%;
  border: solid black 1px;
  border-radius: 5px;
  width: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  overflow: scroll;
  box-sizing: border-box;
}
.chatInput{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
  box-sizing: border-box;
}

