/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .chatHead{
  font-family: monospace;
 }
 #burnrId{
  margin-left: 4px;
  width: 130px;
 }
 #name{
  width: 130px;
 }
 #burnIt{
  float: right;
 }
 .infoHeader{
  margin-left: 25%;
 }
 .info{
  float: right;
  clear: right;
  border: solid black 1px;
  margin: 5px;
  margin-right: 5%;
  width: 30%;
  border-radius: 5px;
 }
 body{
  margin-left: 0px;
  margin-top: 0px;
 }
.header{
  height: 5%;
  width: 100%;
  margin: 0px !important;
  font-family: monospace;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}
.chatList{
  list-style: none;
  font-family: monospace;
  padding-left: 5px;
}
.chatContainer{
  margin: 5px;
  width: 320px;
  height: 450px;
  margin: 0 auto;
  box-sizing: border-box;
}
.chatWindow{
  height: 80%;
  border: solid gray 2.5px;
  border-radius: 1px;
  width: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  overflow: scroll;
  box-sizing: border-box;
}
.chatInput{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  box-sizing: border-box;
}
.chatInput:focus{
  outline-color: black;
  outline-width: 2px;
}

