<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://cdn.peerjs.com/0/peer.min.js"></script>
</head>
<body>
  <div class="header">--- burnr ---</div>

  <%= yield %>

</body>
</html>
